pdf2image ==1.17.0
pytesseract==0.3.13
poppler-utils==0.1.0
condacolab==0.1.9
layoutparser==0.3.4
torchvision==0.19.1
detectron2==0.6
numpy==2.1.1
pandas==2.2.2
torch==2.4.1
transformers==4.44.2
scikit-learn==1.5.1
PyMySQ==1.1.1
mysql-connector-python ==9.0.0